p{
  text-align: center;
}
h1{
  text-align: center;
  color: red;
}
img src="https://eportal.sausd.us/parentportal/StuPic.ashx?ID=347600&BM=347600&SC=27&SZ=RW"{
  align: center;
}
body{
  background-color: red;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
div{
  text: 10px;
}