p{
  text-align: center;
}
h1{
  text-align: center;
  color: red;
}
img src="https://eportal.sausd.us/ParentPortal/StuPic.ashx?ID=347600&BM=347600&SC=81&SZ=RW";{
  align: center;
}
body{
  background-color: red;
}